

div.bib-item {font-family: Arial,sans-serif;  font-size:80%; margin-top:20px;}
div.bib {font-family:Menlo,Courier,monospaced; color:blue; font-size:80%; padding-left:30px; padding-bottom:10px;}
span.blink {font-size:80%;}
span.blink a:link, span.blink a:visited {color:blue;}

