/* The entire bibliographic item */
div.bib-item {
font-family:Arial,sans-serif;
font-size:80%;
margin-top:20px;
}

/* The actual BibTeX record (when visible) */
div.bib {
font-family:Menlo,Courier,monospaced;
color:brown;
padding-left:30px;
padding-bottom:10px;
}

/* Text "bib" or "abstract" */
.blink a {
font-variant: small-caps;
}

/* The actual abstract (when visible) */
div.abstract {
color:black;
padding-left:30px;
padding-bottom:10px;
}

/* Document titles */
.doctitle {
font-weight:700;
}

/* Document titles linking to a PDF or somewhere else */
a.doctitle:link,a.doctitle:visited,a.doctitle,a.doctitle:hover,a.doctitle.active {
color:blue;
font-weight:700;
}